<div class="todoWrapper">

    <div class="container">


        <div class="todoItem completed">
            <div class="checkBox">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todoText"> This is the todo text</p>
        </div>

        <div class="todoItem">
            <div class="checkBox">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todoText"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam adipisci eligendi, quasi deserunt illo voluptatibus labore obcaecati ad ipsum natus cupiditate voluptates sapiente ducimus at, rerum inventore distinctio! Nihil, repellendus?</p>
        </div>


    </div>

</div>