<div class="tabs">
    <a routerLink = "bookmarks" routerLinkActive = "selected" class="tab bookmarksTab">
        <div class="tabTile">
            <i class="material-icons-outlined">bookmarks</i>
        </div>
    </a>

    <a routerLink = "todos" routerLinkActive = "selected" class="tab todosTab">
        <div class="tabTile">
            <i class="material-icons-outlined">check</i>
        </div>
    </a>

    <a routerLink = "notes" routerLinkActive = "selected" class="tab notesTab">
        <div class="tabTile">
            <i class="material-icons-outlined">notes</i>
        </div>
    </a>
</div>