<div class="bookmarksWrapper">

    <div class="container">
        <div class="bookmarkTilesContainer">

            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>
            <app-bookmark-tile></app-bookmark-tile>

        </div>
    </div>


</div>